<div class="pageClass">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="fbIcon">
        <a class="navbar-brand" href="https://www.facebook.com/login"><img width="30" height="30" src="../assets/facebook.png" alt="Facebook"></a>
      </div>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign In</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<div class="container text-center">
  <form action="">
    <div class="containerContent">
    <img width="180" height="60" src="../assets/facebook-logo-png-38355.png" alt="Facebook">
    <div class="contentS">
      <h3 style="font-size: larger;">Create A New Account</h3>
      <h5 style="font-size: inherit;">It's quick and easy</h5>
<hr style="max-width: 100%;">
      <div class="inputFields">
    <input placeholder="First Name" style="font-style:italic" id="FirstNameL" type="text">
    <input placeholder="Surname" style="font-style:italic" type="text" id="SurnameL">
    
    <input type="text" placeholder="Mobile Number or Email" style="font-style:italic" id="MobOrEmailL">
    
    <input placeholder="Type a New Password" style="font-style:italic" type="text" id="PasswordL">
    
    <label for="dobL" style="text-align: start;">Date of Birth<i class="fa-solid fa-circle-info"></i></label>
    
    <input placeholder="Date of Birth" style="font-style:italic" type="date" id="dobL">
    
    <label for="genderL" style="text-align: start;">Gender<i class="fa-solid fa-circle-info"></i></label>
    <div class="checkBoxClass">
      <div class="checkPlusLabel">
        <label for="male">Male</label>
      <input type="radio" id="male" name="genderL" value="m"         checked>
      
    </div>
    <div class="checkPlusLabel">
      <label for="female">Female</label>
      <input type="radio" id="female" name="genderL" value="f">
      
      </div>
    <div class="checkPlusLabel">
      <label for="custom">Custom</label>
      <input type="radio" id="custom" name="genderL" value="o">
    </div>
    </div>
    </div>

    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<button class="btn btn-primary customBtn">Sign Up</button>
<br>
<div style="margin-bottom: 0.8em;">
<a style="display: inline-block; margin-bottom: 0.8em "  href="https://www.facebook.com">Already have an account</a>
</div>
</div>
</div>
  </form>
</div>
   <footer></footer>
  </div>